/* ===== GLOBAL ===== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #f1f5f9;
}

/* ===== NAVBAR ===== */
.navbar {
  background: #0f172a;
  color: white;
  padding: 15px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar a {
  color: white;
  margin-left: 25px;
  text-decoration: none;
  font-weight: 500;
}

.navbar a:hover {
  color: #38bdf8;
}

.logo {
  font-size: 22px;
  font-weight: bold;
}

/* ===== HERO SECTION ===== */
.hero {
  height: 420px;
  background: linear-gradient(135deg, #0ea5e9, #2563eb);
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 60px;
}

.hero-left {
  max-width: 500px;
}

.small-text {
  margin-bottom: 10px;
  opacity: 0.9;
}

.hero h1 {
  font-size: 44px;
  margin-bottom: 15px;
}

.hero-desc {
  margin-bottom: 20px;
  opacity: 0.9;
}

.primary-btn {
  background: #22c55e;
  border: none;
  padding: 12px 22px;
  border-radius: 6px;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.primary-btn:hover {
  background: #16a34a;
}

.hero-right img {
  width: 260px;
}

/* ===== SEARCH BOX ===== */
.search-box {
  background: white;
  padding: 20px;
  width: 80%;
  margin: -40px auto 40px auto;
  display: flex;
  gap: 15px;
  border-radius: 10px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.1);
}

.search-box input {
  flex: 1;
  padding: 12px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.search-box button {
  background: #2563eb;
  color: white;
  border: none;
  padding: 12px 20px;
  border-radius: 6px;
  cursor: pointer;
}

.search-box button:hover {
  background: #1d4ed8;
}
